/** We use TailwindCSS utilities for styling, but no preflight */
@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
    /* Set the font family of the entire app */
    /* TODO: Change to a better font */
    --ion-font-family: "Lato", "Helvetica Neue", "Roboto", sans-serif;
}

@theme {
    /* Phone size breakpoints; XL and larger are for web */
    --breakpoint-sm: 320px;
    --breakpoint-md: 375px;
    --breakpoint-lg: 425px;
    --breakpoint-xl: 768px;
    --breakpoint-2xl: 1024px;
}
